body {
  padding-top: 50px;
}
.main {
  padding: 40px 15px;
  text-align: center;
}
.form-label {

}

.form-input {
    text-align: center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}
